@mixin auth-component {
  img {
    height: 100vh;
    @media screen and (max-width: 1180px) {
      position: absolute;
      z-index: -1;
      opacity: 0.3;
      object-fit: cover;
      width: 100vw;
    }
  }

  .auth-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 1180px) {
      display: flex;
    }
  }
}
