@mixin header {
  header {
    position: fixed;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -2px 5px $black;
    padding: 0 25px;
    z-index: 2;
    background-color: $white;
  }

  .header-navs {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .logo-img {
    height: 70px;
  }

  .header-empty {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  #open {
    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  .black-bg {
    background-color: $transparent_black;
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 100%;
  }
}
