@mixin admin-order-container {
  .container {
    position: relative;
  }

  .order-exit {
    position: absolute;
    top: 5px;
    right: 10px;
  }

  .order {
    margin-block: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .order-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .order-texts {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  .order-comment {
margin-top: 20px;
  }

  h2 {
    color: $grey;
  }

  .table-row {
    display: flex;
    height: fit-content;
    width: 100%;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 8px;
    box-shadow: rgba(16, 24, 40, 0.03) 0px 4px 6px -2px,
      rgba(16, 24, 40, 0.05) 0px 4px 24px -4px,
      rgba(16, 24, 40, 0.03) 0px 4px 6px -2px,
      rgba(16, 24, 40, 0.05) 0px 4px 24px -4px;
    padding: 24px;
  }

  hr {
    border-color: $blue;
  }
}
