@mixin password-component {
  .password-suggestion {
    position: absolute;
    top: 70px;
    border-radius: 8px;
    padding: 15px 40px;
    background-color: $white;
    border: 1px solid $grey;
    z-index: 1;
  }

  h4 {
    margin-bottom: 5px;
  }
  li {
    padding: 1px;
    list-style: disc;
  }

  button {
    position: absolute;
    right: 0;
    top: 5px;
    margin: 0;
  }
}
