@mixin info-books-component {
  .info-content {
    display: flex;
    align-items: center;
  }

  .book-img {
    flex-shrink: 0;
    height: 300px;
    width: 200px;
  }

  .info-container {
    background-color: $white;
    height: 250px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (max-width: 540px) {
      height: 290px;
    }
  }

  .info-texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  p {
    color: $grey;
    display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
  }
}
