@mixin orders-container {
  .container {
    background-color: $white;
    padding-block: 20px 40px;
    min-height: 90vh;
    @media screen and (max-width: 1200px) {
      margin-top: 10px;
      width: 100vw;
    }
  }

  .orders-content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 1px solid $dark_brown;
    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .table-header,
  .table-items-content {
    padding: 15px;
    background-color: $input_grey;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 2fr 2fr 3fr 3fr 2fr 2fr 3fr 2fr;
    justify-items: center;
    border-radius: 15px;
    align-items: center;
  }

  .table-items-content {
    grid-template-columns: 2fr 2fr 3fr 3fr 2fr 2fr 3fr 1fr 0 0 0 1fr;
    background-color: $light_brown;
  }

  h2 {
    font-weight: 400;
  }

  .table-navs {
    display: flex;
    gap: 5px;
  }
}
